html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.section-title {
  color: #212121;
}

.title {
  color: #212121;
  font-size: 18px;
}

img {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-page {
  position: relative;
}

.header-page nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  width: 100%;
}

.header-page > .container {
  display: flex;
}

.menu-button {
  display: inline-block;
  margin: 0;
  margin-left: 276px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close-btn {
  display: none;
}

.is-open .icon-close-btn {
  display: block;
}

.is-open .icon-menu-btn {
  display: none;
}

.menu-nav.is-open {
  display: block;
}

.menu-nav {
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  padding: 60px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 767px) {
  .menu-nav {
    position: static;
    flex-direction: row;
    padding: 0px;
    height: 80px;
    box-shadow: none;
  }
}

.header-page .address .link {
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-page {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .site-nav {
    flex-direction: row;
    margin-left: 88px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav .link {
  display: block;
  padding: 8px 0px;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    padding: 32px 0px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .link {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav li:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav li:not(:last-child) {
    margin-right: 50px;
  }
}

.top {
  display: flex;
  align-items: center;
}

.site-nav,
.contact {
  letter-spacing: 0.02em;
}

.site-nav .current {
  color: #2196f3;
  position: relative;
}

.site-nav .current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-page .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-page .contact {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header-page .contact {
    align-items: center;
    flex-direction: row;
  }
}

.header-page .contact li:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header-page .contact li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-page .contact li:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

.header-page .address {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .header-page .address {
    margin-right: 0px;
  }
}

.contact .icon-envelope {
  width: 16px;
  height: 12px;
  fill: #757575;
}

.contact .icon-smartphone {
  width: 10px;
  height: 16px;
  fill: #757575;
}

.address-list-top svg {
  margin-right: 10px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-top .link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-top .link:hover, .address-list-top .link:focus {
  color: #2196f3;
}

.address-list-top .link:hover svg,
.address-list-top .link:focus svg {
  fill: #2196f3;
}

.logo {
  color: #000000;
  font-size: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.logo:hover {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo-start {
  color: #2196f3;
}

.logo-end {
  color: #ffffff;
}

.hero {
  max-width: 480px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: url("../images/images-hero/overlay-mobile.png"), url("../images/images-hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/images-hero/overlay-mobile@2x.png"), url("../images/images-hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    max-height: 600px;
    background-image: url("../images/images-hero/overlay-tablet.png"), url("../images/images-hero/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/images-hero/overlay-tablet@2x.png"), url("../images/images-hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: url("../images/images-hero/overlay-desktop.png"), url("../images/images-hero/hero-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/images-hero/overlay-desktop@2x.png"), url("../images/images-hero/hero-desktop@2x.jpg");
  }
}

.hero .container {
  padding-top: 118px;
  padding-bottom: 118px;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 60px;
  }
}

.button {
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 450px;
  height: 609px;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    height: 581px;
  }
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-modal .form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-modal .form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-modal .form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal .form-field input {
  display: block;
  height: 40px;
  padding: 14px 42px;
  width: 370px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.form-modal .form-field input:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .form-modal .form-field input {
    width: 448px;
  }
}

.form-modal .modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
}

.form-field:focus-within .modal-icon {
  fill: #2196f3;
}

textarea {
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  width: 370px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  outline: none;
}

textarea:focus {
  border: 1px solid #2196f3;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  textarea {
    width: 448px;
  }
}

.form-field-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-field-policy .policy-label {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 12px;
  line-height: 14px;
}

@media screen and (min-width: 1200px) {
  .form-field-policy .policy-label {
    font-size: 14px;
    line-height: 24px;
  }
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-button svg {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.close-button:focus svg,
.close-button:hover svg {
  fill: #2196f3;
  cursor: pointer;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.policy-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  background-image: url("../images/sprite-svg/not-check.svg");
}

.form-field-policy .policy-doc {
  color: #2196f3;
}

.form-checkbox:checked + .policy-label::before {
  background-image: url("../images/sprite-svg/check.svg");
  background-size: content;
  background-origin: border-box;
  border-radius: 2px;
  background-color: #2196f3;
}

.modal-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .advantages {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages li {
  max-width: 450px;
  max-height: 226px;
}

@media screen and (min-width: 768px) {
  .advantages li {
    width: 354px;
    height: 261px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages li {
    width: 270px;
    height: 251px;
  }
}

.advantages .section-title {
  margin-bottom: 10px;
  margin-top: 30px;
}

.advantages p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.advantages .section-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages .section-title {
    text-align: start;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .advantages li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages li:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages li:not(:last-child) {
    margin-right: 30px;
  }
}

.container .advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .container .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.icon-antenna::before {
  content: "";
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  background-image: url("../images/images-png/antenna.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  content: "";
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  background-image: url("../images/images-png/astronaut.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  content: "";
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  background-image: url("../images/images-png/clock.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  content: "";
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  background-image: url("../images/images-png/diagram.png");
  background-repeat: no-repeat;
  background-position: center;
}

.section .works {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section .works {
    display: block;
  }
}

.work {
  display: flex;
  justify-content: space-between;
}

.work li {
  position: relative;
}

.works .list {
  padding-bottom: 94px;
}

.works .section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
}

.works-img {
  display: block;
}

.work-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-title p {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.staff-section {
  height: 100%;
  background-color: #f5f4fa;
}

.staff-wrap h2 {
  text-align: center;
  font-size: 28px;
  line-height: 33px;
}

@media screen and (min-width: 1200px) {
  .staff-wrap h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

.staff-people .section-title,
.staff-people p {
  margin-top: 0px;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff-people .section-title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.staff-people p {
  margin-bottom: 16px;
}

.staff-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .staff-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.staff-list .staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.staff-list li {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .staff li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .staff li:nth-last-child(n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .staff li:not(:last-child) {
    margin-right: 30px;
  }
}

.staff-people img {
  width: 450px;
  height: auto;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .staff-people img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .staff-people img {
    width: 270px;
  }
}

.staff-people {
  width: 460px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .staff-people {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .staff-people {
    width: 270px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .social-link {
    padding-bottom: 30px;
  }
}

.social-link a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link-thumb {
  width: 44px;
  height: 44px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-thumb:focus, .social-link-thumb:hover {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
}

.social-link-thumb:hover svg,
.social-link-thumb:focus svg {
  fill: #ffffff;
}

.social-link svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .section-title {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700px;
  font-size: 28px;
  line-height: 33px;
}

@media screen and (min-width: 1200px) {
  .clients .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
}

.clients .container {
  padding-top: 44px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .clients .container {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients .list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  background-color: #ffffff;
  border: 2px solid #afb1b8;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .list a:focus, .clients .list a:hover {
  border: 2px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .clients .list a {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients .list a {
    width: 170px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients .list li:nth-last-child(n + 3) {
    margin-bottom: 30px;
  }
  .clients .list li:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .list li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients .list li:nth-last-child(n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients .list li:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-pic svg {
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-pic:hover svg,
.clients-pic:focus svg {
  fill: #2196f3;
}

footer {
  background-color: #2f303a;
}

footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  footer .container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .address-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .address-bottom .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-links-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

footer .logo {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-style: normal;
}

footer .address {
  padding-left: 0px;
}

@media screen and (min-width: 1200px) {
  .address-list:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address .link-address {
  color: #ffffff;
}

.address .link {
  color: rgba(22, 15, 15, 0.8);
}

.address .address-start {
  color: #ffffff;
}

.address .address-end {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .social-links-footer {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social-links-footer {
    margin-right: 93px;
  }
}

.social-links-footer .phrase {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
}

.social-links-footer .sl-thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-links-footer .sl-thumb:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-bottom {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address-bottom {
    margin-right: 70px;
  }
}

.address-bottom .address {
  margin-top: 0px;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .address-bottom .address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address-bottom .address {
    margin-bottom: 0;
  }
}

.sl-footer {
  display: flex;
  margin-top: 20px;
}

.sl-footer svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.sl-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl-footer a:focus, .sl-footer a:hover {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 570px;
    height: 86px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form .form-field {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form .form-field {
    margin-bottom: 0;
  }
}

.footer-form .footer-input {
  display: block;
  padding: 15px 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: #2f303a;
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form .footer-input {
    width: 358px;
  }
}

.footer-form .footer-icon {
  position: absolute;
  right: 28px;
  top: 13px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.footer-form-phrase {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form-phrase {
    text-align: center;
  }
}

.footer-btn {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */