html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.section-title {
  color: #212121;
}

.title {
  color: #212121;
  font-size: 18px;
}

img {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo:hover {
  color: #2196f3;
}

.logo-start {
  color: #2196f3;
}

.logo-end {
  color: #ffffff;
}

.hero .container {
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero .container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 60px;
  }
}

.button {
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 528px;
  height: 581px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-modal .form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-modal .form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-modal .form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal .form-field input {
  display: block;
  width: 448px;
  height: 40px;
  padding: 14px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.form-modal .form-field input:focus {
  border: 1px solid #2196f3;
}

.form-modal .modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
}

.form-field:focus-within .modal-icon {
  fill: #2196f3;
}

textarea {
  display: block;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  outline: none;
}

textarea:focus {
  border: 1px solid #2196f3;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-field-policy label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-button svg {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.close-button:focus svg,
.close-button:hover svg {
  fill: #2196f3;
  cursor: pointer;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.policy-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  background-image: url("../images/sprite-svg/not-check.svg");
}

.form-field-policy .policy-doc {
  color: #2196f3;
}

.form-checkbox:checked + .policy-label::before {
  background-image: url("../images/sprite-svg/check.svg");
  background-size: content;
  background-origin: border-box;
  border-radius: 2px;
  background-color: #2196f3;
}

.modal-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: main-bg-color;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .advantages {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .advantages li {
    width: 50%;
  }
}

.advantages .section-title {
  margin-bottom: 10px;
  margin-top: 30px;
}

.advantages p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.advantages .section-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .advantages .section-title {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .advantages li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages li:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages li:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 480px) {
  .container .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.icon-antenna::before {
  content: "";
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  background-image: url("../images/images-png/antenna.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  content: "";
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  background-image: url("../images/images-png/astronaut.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  content: "";
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  background-image: url("../images/images-png/clock.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  content: "";
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  background-image: url("../images/images-png/diagram.png");
  background-repeat: no-repeat;
  background-position: center;
}

.staff-section {
  height: 100%;
  background-color: #f5f4fa;
}

.staff-wrap h2 {
  text-align: center;
  font-size: 28px;
  line-height: 33px;
}

@media screen and (min-width: 1200px) {
  .staff-wrap h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

.staff-people .section-title,
.staff-people p {
  margin-top: 0px;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff-people .section-title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.staff-people p {
  margin-bottom: 16px;
}

.staff-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .staff-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.staff-list .staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.staff-list li {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .staff li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .staff li:nth-last-child(n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .staff li:not(:last-child) {
    margin-right: 30px;
  }
}

.staff-people img {
  width: 450px;
  height: auto;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .staff-people img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .staff-people img {
    width: 270px;
  }
}

.staff-people {
  width: 460px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .staff-people {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .staff-people {
    width: 270px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .social-link {
    padding-bottom: 30px;
  }
}

.social-link a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link-thumb {
  width: 44px;
  height: 44px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-thumb:focus, .social-link-thumb:hover {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
}

.social-link-thumb:hover svg,
.social-link-thumb:focus svg {
  fill: #ffffff;
}

.social-link svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .section-title {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700px;
  font-size: 28px;
  line-height: 33px;
}

@media screen and (min-width: 1200px) {
  .clients .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients .container {
    padding-top: 44px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients .list a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #afb1b8;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .list a:focus, .clients .list a:hover {
  border: 2px solid #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients .list a {
    width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .list a {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .clients .list a {
    width: 170px;
    height: 90px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients .list li:nth-last-child(n + 3) {
    margin-bottom: 30px;
  }
}

.clients-pic svg {
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-pic:hover svg,
.clients-pic:focus svg {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */