html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  color: $main-text;
  background-color: $main-bg-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.section-title {
  color: $text-title;
}

.title {
  color: $text-title;
  font-size: 18px;
}

img {
  display: block;
}
